<div class="min-h-screen bg-gray-200 flex items-center justify-center">
  <div class="mx-8 md:mx-0 md:max-w-md bg-gray-100 shadow-lg py-5 rounded-lg px-10">
    <h2 class="font-bold mb-6 text-gray-800 text-center text-2xl">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-4">
        <%= f.label :password, "New password", class:"block mb-2 text-gray-700" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password,
          autofocus: true,
          autocomplete: "new-password",
          class: "w-full px-3 py-2 border rounded-lg outline-none"
        %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirm new password", class:"block mb-2 text-gray-700" %>
        <%= f.password_field :password_confirmation,
          autocomplete: "new-password",
          class: "w-full px-3 py-2 border rounded-lg outline-none"
          %>
      </div>

      <div class="flex items-center justify-center mb-2 my-2">
        <%= f.submit "Change my password", class:"bg-orange-500 hover:bg-orange-600 text-gray-200 font-semibold lg:text-xl p-2 rounded-md cursor-pointer w-full" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
