<div class="min-h-screen bg-gray-200 flex items-center justify-center">
  <div class="mx-8 md:mx-0 md:max-w-md bg-gray-100 shadow-lg py-5 rounded-lg px-10">
    <h2 class="font-bold mb-6 text-gray-800 text-center text-2xl">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class:"block mb-2 text-gray-700" %>
        <%= f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          class: "w-full px-3 py-2 border rounded-lg outline-none"
        %>
      </div>

      <div class="flex items-center justify-center mb-2 my-2">
        <%= f.submit "Send me reset password instructions", class:"bg-orange-500 hover:bg-orange-600 text-gray-200 font-semibold lg:text-xl p-2 rounded-md cursor-pointer w-full" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
